.projectsBlock {
    display: flex;
    justify-content: center;
    background-color: #1f1f20;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap
}

.projects {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    align-items: flex-start;
}

/*до width: 1124px применить такой стиль в таком то блоке*/
@media screen and (min-width: 1124px) {
    .projects {
        justify-content: space-between;
    }
}





